In [1]:
import numpy as np
import pandas as pd

In [2]:
file0 = '../../Data/BigFiles/Gala_8_512/Gala_ph000/Gala_grid.dat'
file1 = '../../Data/BigFiles/Gala_8_512/Gala_ph005/Gala_grid.dat'

In [3]:
df0 = pd.read_csv(file0, sep=r'\s+')
df1 = pd.read_csv(file1, sep=r'\s+')

In [4]:
df0.equals(df1)

True

In [5]:
file_1024 = '../../Data/BigFiles/Gala_8_1024/Gala_ph000/Gala_grid.dat'
df_1024 = pd.read_csv(file_1024, sep=r'\s+')

In [6]:
df_1024

,0,2.203404e-02,2.203404e-02.1,2.203404e-02.2,1.000000e-02,3.000000e-02,1.000000e-02.1,3.000000e-02.1,1.000000e-02.2,3.000000e-02.2,5.287698e+06
0,1,0.038942,0.023942,0.023942,0.03,0.05,0.01,0.03,0.01,0.03,6.592362e+06
1,2,0.040951,0.040951,0.022109,0.03,0.05,0.03,0.05,0.01,0.03,2.039929e+07
2,3,0.040935,0.040935,0.040935,0.03,0.05,0.03,0.05,0.03,0.05,4.076179e+07
3,4,0.052802,0.027745,0.027745,0.05,0.07,0.01,0.03,0.01,0.03,6.383840e+05
4,5,0.058333,0.043127,0.024013,0.05,0.07,0.03,0.05,0.01,0.03,1.873154e+07
...,...,...,...,...,...,...,...,...,...,...,...
880,881,0.380096,0.380096,0.300098,0.37,0.39,0.37,0.39,0.29,0.31,2.839793e+10
881,882,0.380096,0.380096,0.320093,0.37,0.39,0.37,0.39,0.31,0.33,3.030414e+10
882,883,0.380096,0.380096,0.340098,0.37,0.39,0.37,0.39,0.33,0.35,3.221548e+10
883,884,0.380096,0.380096,0.360105,0.37,0.39,0.37,0.39,0.35,0.37,3.410457e+10
884,885,0.380096,0.380096,0.380096,0.37,0.39,0.37,0.39,0.37,0.39,3.594045e+10